<div class="entry-actions no-print">
  {{#if stateManager.isSaveErrored}}
    <a {{action "retrySaveEntry"}} class="entry-action entry-action-retry touch">
    </a>
  {{/if}}
</div>
{{input value=entry.title class="entry-create-title text-input it-entry-create-title" placeholder="What are you working on ?" key-up="startTimerOrTriggerUpdate"}}
<div class="entry-create-project-container">
  {{entry-choose-project
    projectName=projectName
    classNamePrefix="entry-create"
    searchProjects=searchProjects
    selectProject=(action "selectProject")
    keyPressed=(action "startTimer")
  }}
</div>
<div class="entry-create-duration touch">
  {{#if entry.isStarted}}
    {{entryDuration}}
  {{else}}
    00:00:00
  {{/if}}
</div>
{{#if entry.isStarted}}
  <button {{action "stopTimer"}} class="entry-create-stop touch it-entry-create-stop">Stop</button>
{{else}}
  <button {{action "startTimer"}} class="entry-create-start touch it-entry-create-start">Start</button>
{{/if}}
