<a class="header-nav-section-title header-nav-section-week touch">
  This week
</a>
<div class="header-nav-section-content">
  {{#each entriesByUser as |userGroup|}}
    <section class="header-nav-sub it-current-week-summary-user">
      <h3 class="header-nav-sub-title">{{userGroup.name}}</h3>
      <ul  class="header-nav-sub-list">
        {{#each userGroup.projectGroups as |projectGroup|}}
          <li class="header-nav-sub-item">
            <span class="header-nav-sub-item-label">
              {{#if projectGroup.project.name}}
                {{projectGroup.project.name}}
              {{else}}
                <span class="entry-project-no-project">No project</span>
              {{/if}}
            </span>
            <span class="header-nav-sub-item-duration">{{format-duration projectGroup.durationInSeconds}}</span>
          </li>
        {{/each}}
        <li class="header-nav-sub-item">
          <span class="header-nav-sub-item-label header-nav-sub-item-total">Total</span>
          <span class="header-nav-sub-item-duration it-current-week-summary-user-total-duration">{{format-duration userGroup.durationInSeconds}}</span>
        </li>
      </ul>
    </section>
  {{/each}}
</div>
