{{#if list.multipleGroups}}
<header class="entry-root-group-list-header">
  <h2 class="entry-root-group-list-header-title">Total</h2>
  <div class="entry-root-group-list-header-duration">
    {{format-duration (if rounding list.roundedDurationInSeconds list.durationInSeconds)}}
  </div>
  <div class="entry-root-group-list-header-actions">
    <a {{action "generateGroupListCSV"}} class="entry-root-group-list-header-action">CSV</a>
  </div>
</header>
{{/if}}
{{#each list.groups as |group|}}
  <section class="entry-root-group">
    <header class="entry-root-group-header">
      <h2 class="entry-root-group-header-title">{{if group.client.name group.client.name "No client"}}</h2>
      <div class="entry-root-group-header-duration">
        {{format-duration (if rounding group.roundedDurationInSeconds group.durationInSeconds)}}
      </div>
      <div class="entry-root-group-header-actions">
        <a {{action "generateGroupCSV" group}} class="entry-root-group-header-action no-print">CSV</a>
      </div>
    </header>
    {{entries-by-project
      list=group
      rounding=rounding
      didDeleteEntry=(action "didDeleteEntry")
      didUpdateEntry=(action "didUpdateEntry")
      searchProjects=(action "searchProjects")
      generateCSV=(action "generateCSV")
    }}
  </section>
{{/each}}
