<div class="project-actions">
  {{#if project.isDeleting}}
    <a {{action "cancelDeleteProject"}} class="project-action project-action-revert touch">
      <img class="project-action-cancel-img" src="/assets/images/revert.svg" alt="Revert" />
    </a>
  {{else if project.isPending}}
    <a {{action "revertEditProject"}} class="project-action project-action-revert touch">
      <img class="project-action-cancel-img" src="/assets/images/revert.svg" alt="Revert" />
    </a>
  {{else}}
    <a {{action "markProjectForDelete" bubbles=false}} class="project-action project-action-delete touch it-project-action-delete">
      <img class="project-action-delete-img" src="/assets/images/trash.svg" alt="Delete" />
    </a>
  {{/if}}
</div>
<div {{action "editProject"}} class="project-name touch">
  {{#if project.isEditing}}
    {{input value=project.name class="project-edit-name text-input js-project-edit-name" selectOnFocus=true enter="clearFocus"}}
  {{else}}
    {{project.name}}
  {{/if}}
</div>
