{{#unless rounding}}
  <div class="entry-actions no-print">
    {{#if entry.isErrored}}
      <a {{action "retrySaveOrDeleteEntry"}} class="entry-action entry-action-retry touch">
      </a>
    {{/if}}
    {{#if canRevert}}
      <a {{action "revertEditEntry"}} class="entry-action entry-action-revert touch">
        <img class="entry-action-cancel-img" src="/assets/images/revert.svg" alt="Revert" />
      </a>
    {{/if}}
    {{#if entry.isClear}}
      <a {{action "markEntryForDelete"}} class="entry-action entry-action-delete touch it-entry-action-delete">
        <img class="entry-action-delete-img" src="/assets/images/trash.svg" alt="Delete" />
      </a>
      <a {{action "changeEntryDate"}} class="entry-action entry-action-delete touch it-entry-action-delete">
        <img class="entry-action-delete-img" src="/assets/images/calendar.svg" alt="Change date" />
      </a>
    {{/if}}
    {{#if canRestartEntry}}
      <a {{action "restartEntry"}} class="entry-action entry-action-restart touch">
        <img class="entry-action-restart-img" src="/assets/images/play.svg" alt="Restart" />
      </a>
    {{/if}}
  </div>
{{/unless}}
<div class="entry-content">
  {{#if isEditingDate}}<div class="entry-edit-date js-datepicker" />{{/if}}

  {{#if showDate}}
    <div class="entry-date">
      {{moment-format entry.startedAt "DD/MM"}}
    </div>
  {{/if}}

  {{#if entry.isEditing}}
    <div class="entry-title touch it-entry-title">
      {{input value=entry.title class="entry-edit-title text-input js-entry-edit-title it-entry-edit-title" enter="clearFocus" selectOnFocus=true}}
    </div>
  {{else}}
    <div {{action "editEntry" ".js-entry-edit-title"}} class="entry-title touch it-entry-title">
      {{#if entry.title}}
        {{entry.title}}
      {{else}}
        <span class="entry-title-no-title">No title</span>
      {{/if}}
    </div>
  {{/if}}

  {{#if entry.isEditing}}
    <div class="entry-project touch it-entry-project">
      {{entry-choose-project
        projectName=(unbound entry.project.name)
        classNamePrefix="entry-edit"
        searchProjects=searchProjects
        selectProject=(action "selectProject")
      }}
    </div>
  {{else}}
    <div {{action "editEntry" ".js-entry-edit-project"}} class="entry-project touch it-entry-project">
      {{#if entry.project}}
        {{entry.project.name}}
      {{else}}
        <span class="entry-project-no-project">No project</span>
      {{/if}}
    </div>
  {{/if}}

  {{#if entry.isEditing}}
    <div class="entry-duration touch">
      {{input value=formattedDuration class="entry-edit-duration text-input js-entry-edit-duration" enter="clearFocus" selectOnFocus=true}}
    </div>
  {{else}}
    <div {{action "editEntry" ".js-entry-edit-duration"}} class="entry-duration touch">
      {{#if rounding}}
        {{format-duration entry.roundedDurationInSeconds}}
      {{else}}
        {{format-duration entry.startedAt entry.stoppedAt}}
      {{/if}}
    </div>
  {{/if}}

  {{#if entry.isEditing}}
    <div class="entry-started-at touch">
      {{input value=formattedStartedAt class="entry-edit-started-at text-input js-entry-edit-started-at" enter="clearFocus" selectOnFocus=true}}
    </div>
  {{else}}
    <div {{action "editEntry" ".js-entry-edit-started-at"}} class="entry-started-at touch no-print">
      {{format-hour (if rounding entry.roundedStartedAt entry.startedAt)}}
    </div>
  {{/if}}

  {{#if entry.isEditing}}
    <div class="entry-stopped-at touch">
      {{input value=formattedStoppedAt class="entry-edit-stopped-at text-input js-entry-edit-stopped-at" enter="clearFocus" selectOnFocus=true}}
    </div>
  {{else}}
    <div {{action "editEntry" ".js-entry-edit-stopped-at"}} class="entry-stopped-at touch no-print">
      {{format-hour (if rounding entry.roundedStoppedAt entry.stoppedAt)}}
    </div>
  {{/if}}
</div>
