<div class="project-actions">
  {{#if project.isInvalid}}
    <a {{action "editProject"}} class="project-action project-action-edit touch">
      <img class="project-action-invalid-img" src="/assets/images/warn.svg" alt="Invalid" />
    </a>
  {{/if}}
  {{#if project.isPendingDelete}}
    <a {{action "cancelDeleteProject"}} class="project-action project-action-revert touch">
      <img class="project-action-cancel-img" src="/assets/images/revert.svg" alt="Revert" />
    </a>
  {{/if}}
  {{#if isInvalidOrPendingSave}}
    <a {{action "revertEditProject"}} class="project-action project-action-revert touch">
      <img class="project-action-cancel-img" src="/assets/images/revert.svg" alt="Revert" />
    </a>
  {{/if}}
  {{#if isClearAndDeleteIsEnabled}}
    <a {{action "markProjectForDelete"}} class="project-action project-action-delete touch it-project-action-delete">
      <img class="project-action-delete-img" src="/assets/images/trash.svg" alt="Delete" />
    </a>
  {{/if}}
</div>
<div {{action "editProject"}} class="project-name it-project-name touch">
  {{#if project.isEditing}}
    {{input value=project.name class="project-edit-name text-input js-project-edit-name it-project-edit-name" selectOnFocus=true enter="clearFocus"}}
  {{else}}
    {{project.name}}
  {{/if}}
  {{#if project.errors.name}}
    <ul class="input-error-message-list">
      {{#each project.errors.name as |error|}}
        <li class="input-error-message">{{error.message}}</li>
      {{/each}}
    </ul>
  {{/if}}
</div>
