<div class="client-actions">
  {{#if client.isSaveErrored}}
    <a {{action "retrySave"}} class="client-action client-action-retry touch">
    </a>
  {{/if}}
  {{#if client.isDeleteErrored}}
    <a {{action "retryDelete"}} class="client-action client-action-retry touch">
    </a>
  {{/if}}
  {{#if client.isInvalid}}
    <a {{action "startEdit"}} class="client-action client-action-edit touch">
      <img class="client-action-invalid-img" src="/assets/images/warn.svg" alt="Invalid" />
    </a>
  {{/if}}
  {{#if client.isPendingDeleteOrDeleteErrored}}
    <a {{action "cancelDelete"}} class="client-action client-action-revert touch">
      <img class="client-action-cancel-img" src="/assets/images/revert.svg" alt="Revert" />
    </a>
  {{/if}}
  {{#if canRevert}}
    <a {{action "revertEdit"}} class="client-action client-action-revert touch">
      <img class="client-action-cancel-img" src="/assets/images/revert.svg" alt="Revert" />
    </a>
  {{/if}}
  {{#if client.isClear}}
    <a {{action "markForDelete"}} class="client-action client-action-delete touch">
      <img class="client-action-delete-img" src="/assets/images/trash.svg" alt="Delete" />
    </a>
  {{/if}}
</div>
{{#if client.isEditing}}
  <h2 class="client-title touch">
    {{input value=client.name class="client-edit-name text-input js-client-edit-name " selectOnFocus=true enter="clearFocus"}}
    {{#if client.errors.name}}
      <ul class="input-error-message-list">
        {{#each client.errors.name as |error|}}
          <li class="input-error-message">{{error.message}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </h2>
{{else}}
  <h2 {{action "startEdit"}} class="client-title touch">
    <span class="client-title-txt">{{client.name}}</span>
    {{#if client.errors.name}}
      <ul class="input-error-message-list">
        {{#each client.errors.name as |error|}}
          <li class="input-error-message">{{error.message}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </h2>
{{/if}}
