<div class="entry-actions">
  {{#if isDeleting}}
    <a {{action "revertDeleteEntry"}} class="entry-action entry-action-revert touch">
      <img class="entry-action-cancel-img" src="/assets/images/revert.svg" alt="Revert" />
    </a>
  {{else if isPending}}
    <a {{action "revertEditEntry"}} class="entry-action entry-action-revert touch">
      <img class="entry-action-cancel-img" src="/assets/images/revert.svg" alt="Revert" />
    </a>
  {{else}}
    <a {{action "deleteEntry"}} class="entry-action entry-action-delete touch it-entry-action-delete">
      <img class="entry-action-delete-img" src="/assets/images/trash.svg" alt="Delete" />
    </a>
  {{/if}}
</div>
<div class="entry-content">
  <div {{action "editEntry" ".js-entry-edit-title"}} class="entry-title touch it-entry-title">
    {{#if isEditing}}
      {{input value=entry.title class="entry-edit-title text-input js-entry-edit-title it-entry-edit-title" enter="clearFocus"}}
    {{else}}
      {{#if entry.title}}
        {{entry.title}}
      {{else}}
        <span class="entry-title-no-title">No title</span>
      {{/if}}
    {{/if}}
  </div>
  <div class="entry-project touch it-entry-project">
    {{#if entry.project}}
      {{entry.project.name}}
    {{else}}
      <span class="entry-project-no-project">No project</span>
    {{/if}}
  </div>
  <div class="entry-duration touch">{{format-duration entry.startedAt entry.stoppedAt}}</div>
  <div class="entry-started-at touch">{{format-hour entry.startedAt}}</div>
  <div class="entry-stopped-at touch">{{format-hour entry.stoppedAt}}</div>
</div>
