<section class="entry-create-container">
  {{create-entry
    entry=newEntry
    startTimer=(action "startTimer")
    stopTimer=(action "stopTimer")
    searchProjects=(action "searchProjects")
    selectProject=(action "selectProject")
  }}
</section>
<section class="entry-group-list">
  {{#each model.groups as |group|}}
    <section class="entry-group it-entry-group">
      <header class="entry-group-header">
        <h2 class="entry-group-header-title" title={{moment-format group.day "YYYY-MM-DD"}}>{{entry-group-day group.day}}</h2>
        <div class="entry-group-header-duration it-entry-group-duration">{{format-duration group.durationInSeconds}}</div>
      </header>
      <ul class="entry-group-item-list">
        {{#each group.entries as |entry|}}
          {{show-entry
            entry=entry

            didDeleteEntry=(action "didDeleteEntry")

            editEntry=(action "editEntry")
            stopEditEntry=(action "stopEditEntry")
            revertEditEntry=(action "revertEditEntry")

            searchProjects=(action "searchProjects")
            selectProject=(action "selectProject")
          }}
        {{/each}}
      </ul>
    </section>
  {{/each}}
</section>
