<section class="project-group-list-container">
  <h1 class="project-group-list-title">Projects</h1>
  {{#each model.groups as |group|}}
    <section class="project-group {{if group.client.isPendingDelete "deleting"}}">
      {{show-client
        client=group.client

        startEdit=(action "startEditClient")
        stopEdit=(action "stopEditClient")
        cancelEdit=(action "cancelEditClient")

        markForDelete=(action "markClientForDelete")
        clearMarkForDelete=(action "clearMarkClientForDelete")
        didDelete=(action "didDeleteClient")
      }}
      <ul class="project-group-item-list">
        {{#each group.projects as |project|}}
          {{show-project
            project=project

            deleteIsDisabled=group.client.isPendingDelete

            startEdit=(action "startEditProject")
            stopEdit=(action "stopEditProject")
            cancelEdit=(action "cancelEditProject")

            markForDelete=(action "markProjectForDelete")
            clearMarkForDelete=(action "clearMarkProjectForDelete")
            didDeleteProject=(action "didDeleteProject")
          }}
        {{/each}}
        <li {{action "buildProject" group.client}} class="project project-create it-project it-project-create touch">
          <span class="project-create-plus">+</span>
          Create new project
        </li>
      </ul>
    </section>
  {{/each}}
  <section class="project-group project-group-create">
    <header {{action "buildClient"}} class="client it-client">
      <h2 class="client-title touch">
        <span class="client-create-plus">+</span>
        <span class="client-create-plus-txt">Create new client</span>
      </h2>
    </header>
  </section>
</section>
